@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(2, 90, 71, 0.534);
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.wrapper {
  width: 1280px;
  margin: 20px auto; 
}
.header__info {
background-color: aquamarine;
padding: 10px 10px;
border-radius: 5px;
}
header {
  position: relative;
}
header .logo {
  font-weight: 600;
  font-size: 20px;
}
header ul.nav {
  float: right;
  list-style: none;
}
header ul.nav li {
  display: inline;
  margin-left: 20px;
  cursor: pointer;
  transition: all 1.2s;
  font-size: 16px;
}
header ul.nav li:hover {
  color: blue;
  transition: all 0.7s;
  font-size: 18px;
}
header .shopcart__button {
  float: right;
  cursor: pointer;
  transition: all 700ms ease;
}
header .shopcart__button:hover,
header .shopcart__button.active {
  color: #24961a;
  transform: scale(1.4);
  transition: all 500ms ease;
}
header .shopcart__button.active {
  color: #0c7a01;
}
header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  min-height: 100px;
  background: rgb(1, 13, 27);
  border-bottom-left-radius: 15px ;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: -43px 62px 102px 7px rgba(52,52,214,0.58);
-webkit-box-shadow: -43px 62px 102px 7px rgba(52,52,214,0.58);
-moz-box-shadow: -43px 62px 102px 7px rgba(52,52,214,0.58);
}
header .presentation {
  margin: 0 0 20px 0;
  background: url('./img/Logo.svg') no-repeat;
  background-size: 400px 200px;
  background-position: center;
  width: 100%;
  height: 100px;
  background-color: rgba(113, 208, 221, 0.281);
  border-radius: 0 0 45% 45%;
}
main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .item {
  width: 30%;
  margin-bottom: 50px;
  background: rgba(105, 113, 230, 0.342);
  border-radius: 18px 18px 0 0;
  position: relative;
  padding-bottom: 20px;
}
main .item img {
  width: 90%;
  margin: 0 5%;
  transition: all 0.5s;
}
main .item img:hover {
  transform: scale(1.035);
  transition: all 0.3s;
}

main h2, p, b {
  margin: 10px 20px;
  color: #0a0303;
}
main b {
  color: rgba(4, 75, 41, 0.979);
}
.add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 32px;
  background: rgba(243, 71, 71, 0.767);
  border-radius: 50%;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-size: 26px;
  transition: all 0.4s;
}
.add-to-cart:hover {
  transform: scale(1.15);
  transition: all 0.3s;
}